.alert-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #000000;  /* text color */
    height: 70%;
    width: 100%;
    display: table;
    position: fixed;
    z-index: 1000;
    background-color: rgba(241, 238, 237, 0.418); /* screen background color */
}

.alert-container .alert-wrapper {
    display:table-cell;
    vertical-align: middle;
    height:fit-content;
}

.alert-container .alert-wrapper .alert {
    width: 450px;
    height: 250px;
    background-color: #f0ece9; /*box colour */
    overflow: auto;
    -webkit-box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.603); /* faint bow shadow */
            box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.521); /* faint box shadow */
    border-radius: 4px;
    margin: auto;
}

.alert-container .alert .header-container { /* keeps the text in the alert from jumping up into the header */
    height: 50px;
    background-color: #d05e15;
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;

}

.alert-container .alert .header-container .title {
    line-height: 50px;
    float:left;
    margin: 0;
    margin-left: 60px;
    
}

.alert-container .alert .header-container .cancel {
    height: 50px;
    width: 50px;
    border-style: none;
    float: right;
    cursor:pointer;
}

.alert-container .alert .header-container .cancel .svg {
    content: url(Resources/Bookings/cancel.png);
    width: 50px;
    height: 50px;

}

.alert-container .alert .message-container .alert-message {
    text-align: left;
    padding: 25px 25px 25px 25px;
    margin: 0;
}