 
 /* NAVIGATION BAR STYLING------------------------------------------------------------------------------------------------------------------ */
 
    /* Setting the font Primary font family as Helvetica (Secondary: Times new Roman) */
    html, body 
    {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    }

    /* Universal page padding for every page is set to 120px due to nav bar fixed position */
    body 
    {
        padding-top: 4vw;
        
    }

    /* Styling for the top naviagtion bar, some animation smoothing put in for scroll event */
    .main-nav
    {
        display: flex;
        top: 0;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 5vw;
        background-color: #FAF9F8;
        transition: all 300ms ease-in-out;
        z-index: 100;
        
        
    }

    /* Styling for the logo */
    .logo 
    {
        height: 3vw;
        width: auto;
        margin-top: 10px;
        margin-left: 50px;
        transition: all 300ms ease-in-out;
    }

    /* An appendment class for styling nav bar when the user scrolls */
    .small
    {
        height: 50px;
    }

    /* An appendment class for styling the logo when the user scrolls */
    .logo-small
    {
        height: 25px; 
    }

    /* Styling for the navigation links */
    .nav-links
    {
        font-weight: bolder;
        text-decoration: none;
        color: #9E8C80;
        padding: 1vw;
        font-size: 1vw;
        
        
    }

    .nav-links:hover /* Hover effect for links */
    {
        font-size: 1.1vw;
        color: black;
        
    }

    /* Postioning nav links */
    .links
    {
        margin-right: 50px;
        
        
    }

    
    /* HOMEPAGE STYLE-DONAL ------------------------------------------------------------------------------------------------*/

    
    .bodyhome  /* Home Page background */
    {
        background-image: url('/images/Background-HomePage.png');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }

    /* Text Styling */

    .h1 /* Styling for titles */
    {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25pt;
        font-weight: bold;
    }
    .h2 /* Styling for subtitles */
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #881D50;
        text-transform: uppercase;
    }
    .text-body /* Styling fortext body */
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 1vw;
        
    }
    .text-body2 /* Styling for alt text body */
    {
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 1vw;
        font-size: 1vw;
        
        
    }
    

    /* Page positioning------------------------------------------------------------------------ */

    .spacer /* A spacer element for positioning and responsiveness */
    {
        width: 10px;
        height: 10px;
    }

    .hompage-pics /* sizing and responsiveness for hompage images */
    {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    
    }
    .homepage-quote /* sizing and responsiveness for hompage quote image */
    {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        

    }

    .call-to-action /* positioning and responsiveness for hompage call to action secton */
    {
        margin: 10%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .homepage-intro /* sizing and responsiveness for hompage text */
    {
        text-align: center;
        max-width: 100%;
        width: 600px;
        line-height: 2.5 ;
    }

    .photo-hover /* sizing for hompage photo */
    {
        
        margin: 10px;
        width: 25%;
    
    }
    .photo-overlap  /* sizing for hompage photo */
    {
        
        
        width: auto;
        height: 90%;
        object-fit: contain;
        max-width: 100%;

    }
    .quote /* sizing for hompage quote */
    {
        max-width: 100%;
        width: 70%;
    }

    .button /* sizing and responsiveness for hompage button */
    {
        height: 4vw;
        width: auto;
        transition: .5s;
    }

    .button:hover /* Hover effect for button */
    {
        transform: scale(1.08);
        cursor: pointer;
    }
    .stronger /* Specific bold font */
    {
        font-weight: 900;
        
    }
/* Video Page---------------------------------------------------------------------------------------------------------------------- */
    
    .bodyvideo /* Video Page background */
    {
        background-image: url('/images/Video_Page_BG.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }
     .b1 /* Making the body responsive with flex */
     {
        display: flex;
        justify-content: space-between;
        
     }
    

     section /* Styling and positioning for screen left */
     {
        position: relative;
        width: 50vw;
        height: 90vh;
        max-width: 100%;
        
        
     }

     section video /* Styling and positioning for the video section */
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section .navigation /* Styling and postioning for the navigation of the video section */
    {
        position: absolute;
        bottom: 40px;
        left: 40%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .vid-thumb  /* Styling for the navigation thumbnails */
    {
        height: 150px;
        width: auto;
    }

    section .navigation li /* Styling and positioning for the navigation thumbnails */
    {
        list-style: none;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 4px;
        padding: 3px 3px 0;
        opacity: 0.5;
        transition: 0.3s;

    }
    section .navigation li:hover /* hover effect for thumbnails */
    {
        transform: scale(1.08);
        opacity: 1;
    }

    section .navigation li img /* sizing for thumbnails */
    {
        width: 100px;
        height: auto;
        max-width: 5vw;
        
    }
    .videographer /* Styling and positioning for screen right */
    {
        position: relative;
        width: 50vw;
        max-width: 100%;
        padding: 20px; 
        padding-top: 8vw;
        text-align: center;
        line-height: 2.5 ;
        
        
    }

    #profile-quote /* Positioning and sizing for quote picture */
    {
        max-width: 100%;
        width: 70%;
    }