.alert-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #ffec44;  /* text color */
    height: 100%;
    width: 100%;
    display: table;
    position: fixed;
    z-index: 1000;
    background-color: rgba(241, 238, 237, 0.308); /* screen background color */
}

.alert-container .alert-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.alert-container .alert-wrapper .alert {
    width: 250px;
    height: 250px;
    background-color: rgb(255, 81, 81); /*box colour */
    overflow: auto;
    -webkit-box-shadow: 0 0 50px 1px rgba(241, 36, 21, 0.356); /* faint bow shadow */
            box-shadow: 0 0 50px 1px rgba(236, 27, 27, 0.342); /* faint box shadow */
    border-radius: 4px;
    margin: auto;
}

.alert-container .alert .header-container { /* keeps the text in the alert from jumping up into the header */
    height: 50px;
}

.alert-container .alert .header-container .title {
    line-height: 50px;
    float: left;
    margin: 0;
    margin-left: 25px;
}

.alert-container .alert .header-container .cancel {
    height: 50px;
    width: 50px;
    border-style: none;
    float: right;
    cursor:pointer;
}

.alert-container .alert .header-container .cancel .svg {
    content: url(cancel.png);
    width: 50px;
    height: 50px;

}

.alert-container .alert .message-container .alert-message {
    text-align: left;
    padding: 25px 25px 25px 25px;
    margin: 0;
}