 
 /* NAVIGATION BAR STYLING------------------------------------------------------------------------------------------------------------------ */
 
    /* Setting the font Primary font family as Helvetica (Secondary: Times new Roman) */
    html, body 
    {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    }

    /* Universal page padding for every page is set to 120px due to nav bar fixed position */
    body 
    {
        padding-top: 120px;
        
    }

    /* Styling for the top naviagtion bar, some animation smoothing put in for scroll event */
    .main-nav
    {
        display: flex;
        top: 0;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #FAF9F8;
        transition: all 300ms ease-in-out;
        
    }

    /* Styling for the logo */
    .logo 
    {
        height: 50px;
        width: auto;
        margin: 15px;
        transition: all 300ms ease-in-out;
    }

    /* An appendment class for styling nav bar when the user scrolls */
    .small
    {
        height: 50px;
    }

    /* An appendment class for styling the logo when the user scrolls */
    .logo-small
    {
        height: 25px; 
    }

    /* Styling for the navigation links */
    .nav-links
    {
        font-weight: bolder;
        text-decoration: none;
        color: #9E8C80;
        padding: 10px;
        
    }

    .nav-links:hover
    {
        font-size: 15px;
        color: black;
        
    }

    /* Postioning nav links */
    .links
    {
        margin-right: 50px;
    }

    /* HOMEPAGE STYLE-DONAL ------------------------------------------------------------------------------------------------*/

    
    .bodyhome 
    {
        background-image: url('Resources/Background-HomePage.png');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }

