 
 /* NAVIGATION BAR STYLING------------------------------------------------------------------------------------------------------------------ */
 
    /* Setting the font Primary font family as Helvetica (Secondary: Times new Roman) */
    html, body 
    {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    }

    /* Universal page padding for every page is set to 120px due to nav bar fixed position */
    body 
    {

        padding-top: 120px;

        
    }


    /* Styling for the top naviagtion bar, some animation smoothing put in for scroll event */
    .main-nav
    {
        display: flex;
        top: 0;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #FAF9F8;
        transition: all 300ms ease-in-out;
        
    }

    /* Styling for the logo */
    .logo 
    {
        height: 50px;
        width: auto;
        margin: 15px;
        transition: all 300ms ease-in-out;
    }

    /* An appendment class for styling nav bar when the user scrolls */
    .small
    {
        height: 50px;
    }

    /* An appendment class for styling the logo when the user scrolls */
    .logo-small
    {
        height: 25px; 
    }

    /* Styling for the navigation links */
    .nav-links
    {
        font-weight: bolder;
        text-decoration: none;
        color: #9E8C80;
        padding: 10px;
        
    }

    .nav-links:hover
    {
        font-size: 15px;
        color: black;
        
    }

    /* Postioning nav links */
    .links
    {
        margin-right: 50px;
    }

    /* PACKAGE STYLE-SHAUN ------------------------------------------------------------------------------------------------*/

    .backpack {
        background-image: url('Resources/Packages/Packages_BG.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }
    
    
.packagebox {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.packcontainer {
    display: flex;
    gap:100px;
  }



    .foot{
        bottom: 1px;
        padding: 10px;
        background-color: #faf9f8;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        


    }
    
    .footcontainer {
        display: flex;
        gap: 50px;
      }


 /* BOOKING STYLE-SHAUN ------------------------------------------------------------------------------------------------*/

      .backbook {
        background-image: url('Resources/Bookings/Bookings_BG.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }

    .bookingbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        height: 700px;


        
    }

    .bookingimg{
        width: 30%;
        height: 100%;

    }

    #bookingform { /* formatting for the form on order page */
       
        text-align: center;
        color: #881D50;
        font-family: Helvetica, bold;
        border-radius: 10px;
        background: #F0ECE9;
        padding-right: 4px;
        padding-left:8px;
        padding-top:15px; /* padding top increases the spare size of the box outside from content */
        margin-top: 15px; /* margin top pushes the whole box down to be more central on the page */
        height: 420px;
    
    }


iframe{
    display: flex;
    flex-direction: row;
    height: 260px;
    width: 420px;
    border-radius: 10px;
}




    .clearbutton
    {
        height: 40px;
        width: auto;
        transition: .5s;
        border-radius: 3px;
        margin-left: 5px;
        
    }

    .clearbutton:hover
    {
        transform: scale(1.08);
        cursor: pointer;
    }

    .sendbutton
    {
        height: 40px;
        width: auto;
        transition: .5s;
        margin-left: 145px;
        border-radius: 3px;
    }

    .sendbutton:hover
    {
        transform: scale(1.08);
        cursor: pointer;
    }


    .bookingfooter{
        margin-top: 55px;
        padding: 10px;
        background-color: #faf9f8;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        


    }
    
    .bookingfootcontainer {
        display: flex;
        gap: 50px;
      }




      /* gallery effect */

      .container {
        display: flex;
        width: 70%;
        height: 113.5%; /* height of the images */
        margin-left: -50px; /* makes images fill entire page, remove to have it more central with background as border */
        margin-top: -40px; /* makes images fill entire page, remove to have it more central with background as border */

        box-sizing: border-box;


      }
      
      .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 0%; /* gap between photos, set 0% to remove gap */ 
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
      }
      
      .box > img {
        width: 200%; /* horizontal zoom */
        height: calc(100%); /* setting to 200% keeps unhovered image higher up, set to 200% to massively increase vertical zoom */
        object-fit: cover; 
        transition: .5s;
      }
      
      .box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
      }
      
      .box:hover { flex: 1 1 50%; }
      .box:hover > img {
        width: 100%;
        height: 100%;
      }






.p1{
    filter: contrast(90%);
}


.p2{
    filter: contrast(90%);
}

.p3{
    filter: contrast(90%);
}


.p1:hover {
        filter: contrast(120%);
        transition-duration: 0.5s;
}

.p2:hover {
    filter: contrast(110%);
    transition-duration: 0.5s;
}

.p3:hover {
    filter: contrast(120%);
    transition-duration: 0.5s;
}

.footer1{border-radius: 50%;}  /* images were circular pngs but for some reason appeared square. border radius 50% workout makes them rounded */

.footer2{border-radius: 50%;}

.footer3{border-radius: 50%;}

.footer4{border-radius: 50%;}


.footer1:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.footer2:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.footer3:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.footer4:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transform: scale(1.1);
    transition-duration: 0.5s;
}


#frame{ /* Stops form from refreshing the page ever time you submit. Display none hides the iframe */
    display:none;
}